body {
    font-family: 'JetBrain Mono', Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: space-between;
}

h1,
p {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: rgb(72, 72, 72);
    color: antiquewhite;
}

.mainContent {
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: center;
}

.slideContainer {
    display: flex;
    flex: 0 1 150px;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    text-align: center;
}

.sketchpad {
    padding: 0;
    margin: 0;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: grid;
    align-self: center;
}
button{
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px
}

.applyButton {
    padding: 6px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.clearButton {
    padding: 6px 10px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.3);
}

.applyDarkeningColorButton {
    padding: 6px 10px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 0, 1) 80%);
}



.applyDarkeningWhiteButton {
    padding: 6px 10px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 80%);
    color: white;
}

.applyRandomColorButton {
    padding: 6px 10px;
    border-radius: 20px;
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    color: black;
}

.applyButton:active,
.clearButton:active,
.applyDarkeningColorButton:active,
.applyDarkeningWhiteButton:active,
.applyRandomColorButton:active {
    transform: scale(.9);
    transition: all 0.2s linear;
    box-shadow: 0 3px 15px -2px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(72, 72, 72);
    color: antiquewhite;
    padding: 16px;

}

label {
    display: flex;
    height: 64px;
    width: 64px;
    justify-self: flex-start;
    align-self: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid black;
}



#kb_selected_color {
    visibility: hidden;
}